@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

body, html{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

h3{
	font-size: 30px;
	font-weight: bold;
	position: relative;
	z-index: 1;
}

h1{
	font-weight: 800;
	font-size: 50px;
	position: relative;
	z-index: 1;
}

h2{
	font-size: 50px;
	font-weight: 800;
}

h4{
	font-weight: bold;
	font-size: 20px;
	position: relative;
	z-index: 1;
}

p{
	font-size: 30px;
	font-weight: bold;
	margin: 30px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;

}

.hero-banner{
	background-color: #40B0E0;
	min-height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px 0;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

.hero-banner h4{
	color: white;
	margin: 0;
}

.estudiante1{
	background: url(img/guy.png) no-repeat 0 0;
	background-size: 100%;
	width: 200px;
	height: 400px;
	position: absolute; top: 107px; right: 10%;
}

.estudiante2{
	background: url(img/girl.png) no-repeat 0 0;
	background-size: 100%;
	width: 200px;
	height: 400px;
	position: absolute; top: 213px; right: 20%;
}

.estudiante3{
	background: url(img/dude.png) no-repeat 0 0;
	background-size: 100%;
	width: 200px;
	height: 400px;
	position: absolute; top: 313px; right: 15%;
}

a.cta, button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: #40B4E5;
	display: inline-block;
	box-shadow: 0 0 0 10px rgba(10, 80, 100, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
}

a.cta.alt, button.cta.alt{
	background-color: #FFC526;
	color: #111111;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 1;
}

nav{
	height: 120px;
	background-color: white;
	box-shadow: 0  5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
	z-index: 2;
}

nav .logo{
	display: block;
	width: 98px;
	height: 100px;
	position: absolute; top: 50%; left: 3%;
	margin-top: -50px;
	background: url(img/ucab-logo.png) no-repeat 0 0;
	background-size: 100%;
	text-indent: -999px;
	overflow: hidden;
}

nav ul{
	padding: 0;
	margin: 0 3% 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	font-size: 30px;
	height: 100%;
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	color: #111111;
	text-decoration: none;
	line-height: 30px;
	padding: 45px 10px;
}

nav ul li a:hover{
	color: #047732;
}

.more-info{
	text-align: center;
}



/*
<div class="more-info" id="mas">
	<h2>Unete a nuestra comunidad</h2>
	<p>Tenemos <span class="highlight">una fiesta</span> cada semana. Si quieres participar, unete a nuestra comunidad. Todos los miembros recibirán fotografías del evento, con los filtros que deseen. ¡Genial! ¿no?</p>
	<button class="cta">¡Unirme!</button>
</div>
*/
