@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

body, html{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

h3{
	font-size: 30px;
	font-weight: bold;
	position: relative;
}

h1{
	font-weight: 800;
	font-size: 50px;
	position: relative;
}

h2{
	font-size: 50px;
	font-weight: 800;
}

h4{
	font-weight: bold;
	font-size: 20px;
	position: relative;
}

p{
	font-size: 30px;
	font-weight: bold;
	margin: 30px 0;
}

.wrapper{
	width: 960px;
	margin: 0 auto;

}

.hero-banner{
	background-color: #40B0E0;
	min-height: 100vh;
	max-height: 1080px;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px 0;
	z-index: 1;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
	z-index: 1;
}

.hero-banner h4{
	color: white;
	margin: 0;
	z-index: 1;
}

.estudiante1{
	background: url(img/guy.png) no-repeat 0 0;
	background-size: 100%;
	width: 200px;
	height: 400px;
	position: absolute; top: 107px; right: 10%;
}

.estudiante2{
	background: url(img/girl.png) no-repeat 0 0;
	background-size: 100%;
	width: 200px;
	height: 400px;
	position: absolute; top: 213px; right: 21%;
}

.estudiante3{
	background: url(img/dude.png) no-repeat 0 0;
	background-size: 100%;
	width: 200px;
	height: 400px;
	position: absolute; top: 313px; right: 15%;
}

a.cta, button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: #40B4E5;
	display: inline-block;
	box-shadow: 0 0 0 10px rgba(10, 80, 100, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
}

a.cta:active, button.cta:active{
	opacity: .8;
}

a.cta.alt, button.cta.alt{
	background-color: #FFC526;
	color: #111111;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 1;
}

nav{
	height: 120px;
	background-color: white;
	box-shadow: 0  5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
	z-index: 1;
	overflow: hidden;
}

nav .logo{
	display: block;
	width: 98px;
	height: 100px;
	position: absolute; top: 50%; left: 3%;
	margin-top: -50px;
	background: url(img/ucab-logo.png) no-repeat 0 0;
	background-size: 100%;
	text-indent: -999px;
	overflow: hidden;
}

nav ul{
	padding: 0;
	margin: 0 3% 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	font-size: 30px;
	height: 100%;
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	color: #111111;
	text-decoration: none;
	line-height: 30px;
	padding: 45px 10px;
}

nav ul li a:hover{
	color: #047732;
}

.more-info{
	text-align: center;
}

.more-info p{
	margin: 18px 0 50px;
}

.more-info h2{
	margin: 50px 0 0;
}

.highlight{
	background-color: #FFCAFF;
	color: #FF0000;
	padding: 5px 10px;
	line-height: 50px;
	display: inline;
	font-weight: 800;
}

.sep{
	width: 470px;
	height: 10px;
	margin: 70px auto;
	background-color: #111111;
}

.story{

}

.nb-list{
	width: 470px;
	padding: 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	padding: 20px 20px 0 20px;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

.nb-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 5px 20px;
	box-sizing: border-box;
}

.nb-list li.blue{background-color: #007FFF;}
.nb-list li.gray{background-color: rgba(0, 0, 0, 0.1);}
.nb-list li.yellow{
	background-color: #FFD400;
	color: #111111;
}
.nb-list li.red{background-color: #FF3300;}
.nb-list li.green{background-color: green;}
.nb-list li.orange{background-color: darkorange;}
.nb-list li.pink{background-color: hotpink;}
.nb-list li.purple{background-color: darkmagenta;}

.nb-list li.dragging{
	position: absolute;
	top: 80px;
	left: 70px;
	right: -28px;
	transform: rotate(5deg);
	box-shadow: 0 2px 14px rgba(0, 0, 0, .3);
}

.nb-list li.dragging:after{
	content: '';
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(img/hand.png) no-repeat 0 0;
	background-size: 100%;
	bottom: -18px;
	left: 66%;
}

.story h3{
	font-size: 40px;
	font-weight: 800;
}

.gang-img{
	display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: rgba(0, 0, 0, .5);
	margin: 70px 0 50px;
}

footer a{
	color: rgba(0, 0, 0, .5);
}

footer a:hover{
	color: #047732;
}

.popup{
	display: none;
}

/*
<div class="sep"></div>
	<div class="story" id="historia">
		<ul class="nb-list">
			<li class="blue">Ingeniería</li>
			<li class="gray">&nbsp;</li>
			<li class="yellow dragging">Periodismo</li>
			<li class="red">Farmacia</li>
			<li class="green">Biología</li>
			<li class="orange">Cs. Politicas</li>
			<li class="pink">Administración</li>
			<li class="purple">Idiomas</li>
		</ul>
		<h3>Son muchos años de hostoria.<br>
		Aquí tienes un resumen:</h3>
		<p>Todo empezó con Andrés Bello, uno de los intelectuales más influyentes de latinoamérica.</p> 
		<p>Su trabajo como fundador y primer rector de la Universidad de Chile inspiró a los padres jesuitas venezolanos para hacer lo mismo por nuestro país.</p> 
		<p>Entonces, el 24 de octubre de 1953, ve realizada su visión con la inauguración de la primera universidad privada de Venezuela. Los icónicos ventanles de sus aulas fueron la inspoiración del logo que seguimos utilizando hoy.</p>
		<p>Con casi 70 años de historia, la Universidad Católica Andrés Bello ha formado a innumerables ingenieros, políticos, empresarios, comunicadores, farmaceuticos y científicos. Muchos de ellos han utilizado los conocimientos adquiridos en sus años formativos para impulsar economía, salud y sociedad venezolana.</p>
</div>
*/
